input[type="text"],input[type=password],textarea{font-family:Arial, Helvetica, sans-serif;color:#6e6565;font-size:1em;vertical-align:middle;font-weight:normal;padding:9px 13px 12px 12px;margin:0;background:#f9f9f7;border-top:1px solid #e9e9e8;border-left:1px solid #dadad9; border-bottom:none;border-right:none;outline:none;width:327px;display:inline-block;}

#search{margin-top:30px; margin-left:2px;}
#search input[type="text"]{width:294px;vertical-align:middle;margin-right:14px;padding:9px 13px 12px 12px;}
#search a{vertical-align:middle;}

/* Contact form */
#contact-form{position:relative;vertical-align:top;}
#contact-form .success{position:absolute;bottom:100%;left:0;display:none;}
	#contact-form fieldset{border:none;padding:0}
		#contact-form label{padding-bottom:13px;overflow:hidden;display:block;position:relative;}
			#contact-form .message{padding-bottom:26px;}
			#contact-form textarea{width:470px;height:211px;overflow:auto;resize:vertical}
			#contact-form .error,#contact-form .empty{color:#f00;display:none;position:absolute;left:0;font-size:10px;line-height:1.2em;}
		#contact-form .btns{text-align:right; margin-right:27px;}
		#contact-form .btns a{margin-left:15px;}
		
/* Newsletter-form */
#newsletter-alt-form fieldset{border:none}
#newsletter-alt-form input[type=text]{width:215px;margin-right:12px;}
#newsletter-alt-form a{vertical-align:middle;}